<h1 class="title">Watchlist</h1>
<body class="movie-cards">
  <app-movie-card [imageURI]='imageOne' title="The Matrix" [overview]='one'></app-movie-card>
  <app-movie-card [imageURI]='imageTwo' title="Clueless" [overview]='two'></app-movie-card>
  <app-movie-card [imageURI]='imageThree' title="Knives Out" [overview]='three'></app-movie-card>
  <app-movie-card [imageURI]='imageFour' title="Black Widow" [overview]='four'></app-movie-card>
  <app-movie-card [imageURI]='imageFive' [title]='tOne' [overview]='two'></app-movie-card>
  <app-movie-card [imageURI]='imageSix' [title]='tOne' [overview]='two'></app-movie-card>
  <app-movie-card [imageURI]='imageSeven' [title]='tOne' [overview]='two'></app-movie-card>
  <app-movie-card [imageURI]='imageEight' [title]='tOne' [overview]='two'></app-movie-card>
  <app-movie-card [imageURI]='imageNine' [title]='tOne' [overview]='two'></app-movie-card>
</body>
