<div class="flip-card">
  <div (click)="cardClicked()" [@cardFlip]="data.state" class="flip-card-inner">
    <div class="flip-card-front">
      <img class="card-pic-front" src={{movie.posterPath}} alt="Card">
    </div> 
    <div class="flip-card-back d-flex">
      <img class="card-pic-back" src={{movie.posterPath}} alt="Card back">
      <div class="card-img-overlay h-100 d-flex flex-column ">
        <button *ngIf=myList (click)="removeMovie(movie.id)" type="button" class="close align-self-end" data-toggle="tooltip" data-placement="top" title="Remove movie from list" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="card-info-title">{{movie.name}}</h1>
        <h4 class="card-info overflow-auto scroll">{{movie.overview}}</h4>
        <button *ngIf="myList" (click)="openModal(movie.name)" type="button" class="btn btn-primary card-button mt-auto">Get Recommended Movie</button>
        <button *ngIf="!movie.isWatched &&myList" (click)="openModal(movie.overview)" type="button" class="btn btn-primary card-button bottom-button"> Watch </button>
        <button *ngIf="movie.isWatched && myList" (click)="openModal(movie.posterPath)" type="button" class="btn btn-primary card-button bottom-button"> Move to Watchlist </button>
        <button *ngIf="!myList" (click)="addMovie(movie)" type="button" class="btn btn-primary card-button mt-auto add-button">Add to Watchlist</button>
      </div>
    </div>
  </div>
</div>

<app-form-modal id={{movie.name}}>
  <button (click)="closeModal(movie.name)" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<div class="row align-items-start">
  <div class="col">
      <div align="center">
        <img class="rec-pic" src={{recMovie.posterPath}} alt="Card">
      </div>
  </div>
  <div class="col">
    <div align="center">
      <h1>{{recMovie.name}}</h1>
      <p>{{recMovie.overview}}</p>
      <button (click)="addMovie(recMovie);" type="button" class="btn btn-primary card-button">Add to Watchlist</button>
    </div>
  </div>
</div>
</app-form-modal>

<app-form-modal id={{movie.overview}}>
  <h1 class="align-self-center">Mark this movie as watched?</h1>
  <div class="modal-footer">
    <button (click)="closeModal(movie.overview);" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
    <button (click)="watchMovie(movie.id);" type="button" class="btn btn-primary">Yes</button>
  </div>
</app-form-modal>

<app-form-modal id={{movie.posterPath}}>
  <h1 class="align-self-center">Move this movie to the watchlist?</h1>
  <div class="modal-footer">
    <button (click)="closeModal(movie.posterPath);" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
    <button (click)="watchMovie(movie.id);" type="button" class="btn btn-primary">Yes</button>
  </div>
</app-form-modal>
