<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3"
       style=" font-family: 'Oxygen Light'">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">GRETTA'S WATCHLIST</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/watchlist']">Watchlist</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/watched']">Watched Movies</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/all-movies']">All Movies</a>
          </li>
          <li>
          <input type="text" #titleInput id="titleInput" class="form-control" placeholder="Search for a movie...">
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
          <button type="submit" class="btn btn-primary mb-2" (click)="search(titleInput.value);">Go</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>