.result{
    padding: 25px;
}

.search-pic {
    width: 241px;
    height: 360px;
    -webkit-filter: drop-shadow(0px 4px 4px black);
    filter: drop-shadow(0px 4px 4px black);
  }

.search-text{
    font-family: Fira Sans;
}